<header class="site-header">
        <div class="global-site-header">
            <div class="container-fluid same-line">
                <div class="on-the-left">
                    <a  href="#" title = "Library Homepage">
                        <i class="fa fa-phone" aria-hidden="true" style="font-size: 1.10em;font-weight: 900"></i>
                        <span>&nbsp; (+959)123456789 </span>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a  href="#" title = "Library Homepage">
                            <i class="fa fa-envelope" aria-hidden="true" style="font-size: 1.10em;font-weight: 900"></i>
                        <span>&nbsp; Contact Us </span>
                    </a>
                </div>
                <div class="on-the-right" >
                    <a  href="#" title = "Library Homepage">
                        <i class="fa fa-language" aria-hidden="true" style="font-size: 1.10em;font-weight: 900"></i>
                        <span>&nbsp; Language </span>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a  href="#" title = "Library Homepage" class="right">
                        <span>&nbsp; My Account </span>&nbsp;
                        <img src="assets/images/user-icon.png" style=' border-radius: 50%;width: 5%;'>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a  href="#" title = "Library Homepage">
                        <i class="fas fa-sign-out-alt" aria-hidden="true" style="font-size: 1.10em;font-weight: 900"></i>
                        <span>&nbsp; LogOut </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-nav-header">
            <div class="container-fluid card1">
                <a href="#" title = "Library Homepage">
                    <img src="assets/images/e.png">
                </a>
                <div style="margin-left: 160px;">
                    <a href="#" title = "Myanmar Books">
                    <span>Myanmar Books</span>
                    </a>
                    <a href="#" title = "Ministries"  style="margin-left: 50px;">
                        <span>Ministries</span>
                    </a>
                    <a  href="#" title = "Organization" style="margin-left: 50px;">
                        <span>Organization</span>
                    </a>
                    <a href="#" title = "English Books" style="margin-left: 50px;">
                        <span>English Books</span>
                    </a>
                    <a href="#" title = "Peroidicals" style="margin-left: 50px;">
                        <span>Peroidicals</span>
                    </a>
                    <a href="#" title = "Infopage" style="margin-left: 50px;">
                        <span>Infopage</span>
                    </a>
                </div>

            </div>
            <div style="font-size: 1.10em;font-weight: 700;" class="card1">Pyidaungsu Hluttaw</div>
            <div style="font-size: 1em;font-weight: 700;" class="card1">E-library System</div>
        </div>
    </header>