<!-- <app-header></app-header> -->
<style>

</style>
<div class="login">
    <div>
        <div class="login-header">
            <a href="#" title="Library Homepage">
                <img src="assets/images/e.png" width="83px">
            </a>
            <h5>LIBRARY MANAGEMENT SYSTEM</h5>
            <span>Pyidaungsu Hlattaw</span>
        </div>
    </div>

<div id="divbox" class="col-md-6">
  
    <span style="margin:2% 0% 0% 36%;font-size:20px;font-family: Impact, fantasy;"> To Verify Email Address </span>
    <br>
    <div align="center">
        <span *ngIf="_result !=null" class="label" style="color: red;font-family: poppins">{{_result}}
        </span>
    </div>
   
    <div style="text-align: center;">

        <div class="inputWithIcon" style="margin-top: 3%;text-align: center;">
            <input type="password" style="font-family:  poppins; width: 80%;" placeholder=" Enter New Password"
                [(ngModel)]="newpwd">
        </div>
        <div class="inputWithIcon" style="margin-top: 3%;text-align: center;">
            <input type="password" style="font-family:  poppins; width: 80%;" placeholder="  Enter Confirm Password"
                [(ngModel)]="confirmpwd" (keyup)="searchKeyup($event)">
        </div>

        <div *ngIf="loading" class="lds-default" style="margin-left: 3%;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <button  class="button2" (click)="reset()">SUBMIT</button>
    </div>    
</div>
</div>
