<!-- <app-header></app-header> -->
<div class="container-fluid card1">
    <h2 style="text-align: center;">{{title}}</h2>
    <p style="text-align: center;">Home / {{titleLink}} &nbsp;&nbsp;<button class="btn-success" style="border-radius: 50px;">{{bookCount}}</button></p>
    <div class="card" style="background-color: #EEF7FF;border-radius: 0px">
        <h4 style="margin: 40px;">In book section,We have (<b>{{bookCount}}</b>) books totals to read online freely.Please checkout and let us known
                of readers have any advice.
            </h4>
    </div>
    <br>
    <div class="pull-right" style="padding-bottom: 30px;">
        <div class="input-group">
            <h5>Page No.</h5>
            <select [(ngModel)]="page" (change)="changePage()" class="form-control input-sm" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of pageArray" [value]="item">{{item}}</option>
            </select>
        </div>
    </div>
    <div class="row col-md-12">
        <div *ngFor="let book of bookList" class="col col-6">
            <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                <div class="card-title" id="bookTitle" style="background-color:lightgray;border-radius: 0">
                    <h4 style="color: red;margin: 40px">&nbsp; {{book.title}}</h4>
                    <!-- class="d-inline-block text-truncate" -->
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-sm-5">
                                <img src="{{book.coverPhoto}}"  class="card-img-top"  style="border-radius: 15px;padding: 20px;">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">

                                    <!-- <h6>Short story of Jue</h6> -->
                                    <h4 *ngFor="let author of book.authors">Author :  {{author.name}}</h4>
                                    <h6><button class="btn-success" style="border-radius: 50px;">{{book.subCategory.myanmarName}}</button></h6>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="far fa-calendar-alt"></i>&nbsp;
                                            <!-- <span>{{book.publishedDate}}</span> -->
                                            <span>{{book.publishedDate  | date:'dd-MM-yyyy'}}</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                            <span>Views-10234</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-book"></i> &nbsp;  
                                            <span>{{book.size}}&nbsp; MB</span> 
                                        </h5>
                                        <p style="text-align:center;">
                                            <a  class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;" (click)="goBookDetails(book)"><i class="fas fa-download"></i>&nbsp; Details</a>
                                            &nbsp;&nbsp;
                                            <a  class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>
<br><br><br>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center" style="background-color: #5663ff;">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        <span style="margin-left: 100px">
            <img src="assets/images/google.png" width= "30px;">&nbsp; 
            <img src="assets/images/facebook.png" width= "40px;"> &nbsp; 
            <img src="assets/images/twitter.png" width= "30px;">&nbsp;  
        </span>
    </div>
    <!-- Copyright -->
</footer>