h2{
    margin: 25px 0;
}
h3{
    margin: 25px 0;
}
.row .col .card .card-title .badge {
    max-width: 150px;
    border: 1px solid red;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}