<app-header></app-header>
<div class="container-fluid card1">
    <h2 style="text-align: center;">Myanmar Book List</h2>
    <p style="text-align: center;">Home / Myanmar Books / Jue &nbsp;&nbsp;<button class="btn-success" style="border-radius: 50px;">63</button></p>
    <div class="card" style="background-color: #EEF7FF;border-radius: 0px">
        <h4 style="margin: 40px;">In book section,We have (<b>63</b>) books totals to read online freely.Please checkout and let us known
                of readers have any advice.
            </h4>
    </div>
    <h4 style="margin: 40px 0;text-align: right;">Page No.
    <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
    </select>
    </h4>
    <div class="row">
        <div class="col-md-5">
            <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                <div class="card" style="background-color:lightgray;border-radius: 0">
                    <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="row no-gutters">
                            <div>
                                <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h6>Short story of Jue</h6>
                                    <h4>Author :  Jue</h4>
                                    <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="far fa-calendar-alt"></i>&nbsp;
                                            <span>07-Oct-2020</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                            <span>Views-10234</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-book"></i> &nbsp;  
                                            <span>6.39 &nbsp; MB</span> 
                                        </h5>
                                        <p style="text-align:center;">
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                            &nbsp;&nbsp;
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                <div class="card" style="background-color:lightgray;border-radius: 0">
                    <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="row no-gutters">
                            <div>
                                <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h6>Short story of Jue</h6>
                                    <h4>Author :  Jue</h4>
                                    <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="far fa-calendar-alt"></i>&nbsp;
                                            <span>07-Oct-2020</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                            <span>Views-10234</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-book"></i> &nbsp;  
                                            <span>6.39 &nbsp; MB</span> 
                                        </h5>
                                        <p style="text-align:center;">
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                            &nbsp;&nbsp;
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-md-5">
                <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                    <div class="card" style="background-color:lightgray;border-radius: 0">
                        <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="row no-gutters">
                                <div>
                                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h6>Short story of Jue</h6>
                                        <h4>Author :  Jue</h4>
                                        <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="far fa-calendar-alt"></i>&nbsp;
                                                <span>07-Oct-2020</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                                <span>Views-10234</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-book"></i> &nbsp;  
                                                <span>6.39 &nbsp; MB</span> 
                                            </h5>
                                            <p style="text-align:center;">
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                                &nbsp;&nbsp;
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                    <div class="card" style="background-color:lightgray;border-radius: 0">
                        <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="row no-gutters">
                                <div>
                                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h6>Short story of Jue</h6>
                                        <h4>Author :  Jue</h4>
                                        <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="far fa-calendar-alt"></i>&nbsp;
                                                <span>07-Oct-2020</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                                <span>Views-10234</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-book"></i> &nbsp;  
                                                <span>6.39 &nbsp; MB</span> 
                                            </h5>
                                            <p style="text-align:center;">
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                                &nbsp;&nbsp;
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
            <div class="col-md-5">
                <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                    <div class="card" style="background-color:lightgray;border-radius: 0">
                        <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="row no-gutters">
                                <div>
                                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h6>Short story of Jue</h6>
                                        <h4>Author :  Jue</h4>
                                        <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="far fa-calendar-alt"></i>&nbsp;
                                                <span>07-Oct-2020</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                                <span>Views-10234</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-book"></i> &nbsp;  
                                                <span>6.39 &nbsp; MB</span> 
                                            </h5>
                                            <p style="text-align:center;">
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                                &nbsp;&nbsp;
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                    <div class="card" style="background-color:lightgray;border-radius: 0">
                        <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="row no-gutters">
                                <div>
                                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body">
                                        <h6>Short story of Jue</h6>
                                        <h4>Author :  Jue</h4>
                                        <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="far fa-calendar-alt"></i>&nbsp;
                                                <span>07-Oct-2020</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                                <span>Views-10234</span> 
                                            </h5>
                                            <h5 style="font-size: 1.2rem;">
                                                <i class="fas fa-book"></i> &nbsp;  
                                                <span>6.39 &nbsp; MB</span> 
                                            </h5>
                                            <p style="text-align:center;">
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                                &nbsp;&nbsp;
                                                <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                <div class="card" style="background-color:lightgray;border-radius: 0">
                    <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="row no-gutters">
                            <div>
                                <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h6>Short story of Jue</h6>
                                    <h4>Author :  Jue</h4>
                                    <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="far fa-calendar-alt"></i>&nbsp;
                                            <span>07-Oct-2020</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                            <span>Views-10234</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-book"></i> &nbsp;  
                                            <span>6.39 &nbsp; MB</span> 
                                        </h5>
                                        <p style="text-align:center;">
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                            &nbsp;&nbsp;
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card" style="border: 1px solid rgba(0,0,0,.125);">
                <div class="card" style="background-color:lightgray;border-radius: 0">
                    <h4 style="color: red;margin: 40px;">1. &nbsp; Short Stories of Jue</h4>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="row no-gutters">
                            <div>
                                <img src="assets/images/book/3.png" class="card-img-top h-100" alt="..." style="border-radius: 15px;padding: 20px;">
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h6>Short story of Jue</h6>
                                    <h4>Author :  Jue</h4>
                                    <h6><button class="btn-success" style="border-radius: 50px;">Noval</button></h6>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="far fa-calendar-alt"></i>&nbsp;
                                            <span>07-Oct-2020</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-male" style="font-size: 2rem;"></i>&nbsp;
                                            <span>Views-10234</span> 
                                        </h5>
                                        <h5 style="font-size: 1.2rem;">
                                            <i class="fas fa-book"></i> &nbsp;  
                                            <span>6.39 &nbsp; MB</span> 
                                        </h5>
                                        <p style="text-align:center;">
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-download"></i>&nbsp; Details</a>
                                            &nbsp;&nbsp;
                                            <a href="#" class="btn btn-ls" style="color: blue;border-color: blue;border-radius: 10px;"><i class="fas fa-book-open"></i>&nbsp; Read</a>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center" style="background-color: #5663ff;">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        <span style="margin-left: 100px">
            <img src="assets/images/google.png" width= "30px;">&nbsp; 
            <img src="assets/images/facebook.png" width= "40px;"> &nbsp; 
            <img src="assets/images/twitter.png" width= "30px;">&nbsp;  
        </span>
    </div>
    <!-- Copyright -->
</footer>