<div class="login">
        <div>
            <div>
                <div class="login-header">
                    <a href="#" title="Library Homepage">
                        <img src="assets/images/e.png" width="83px">
                    </a>
                    <h5>LIBRARY MANAGEMENT SYSTEM</h5>
                    <span>Pyidaungsu Hlattaw</span>
                </div>
            </div>
        </div>
    
        <div>
            <div id="divbox" class="col-md-6">
                <div >
                   
                  <div class="row">
                    <div class="col-md-6">
                        <img  src="assets/images/library.png" width="100%">
                    </div>
                    <div class="col-md-6 login-input-from">
                        <span style="margin-top: 2%;font-size:2vw;font-family: Impact, fantasy">WELCOME</span>
                        <div *ngIf="loading" class="lds-default" style="margin-left: 6%;margin-top: 9%;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
    
                        <div align="center">
                            <span *ngIf="_result !=null" class="label" style="color: red;font-family: poppins">{{_result}}
                            </span>
                        </div>
                        <div class="inputWithIcon">
                            <input type="text" style="font-family:  poppins" placeholder="  Enter Email" [(ngModel)]="email" autofocus>
                            <i style="font-size: 20px;margin-left: 3%;" class="fa fa-user-circle-o" aria-hidden="true"></i>
    
                        </div>
                        <div class="inputWithIcon">
                            <input type="password" style="font-family:  poppins" placeholder="   Enter Password"
                                [(ngModel)]="password" (keyup)="searchKeyup($event)">
                            <i style="cursor:pointer;font-size: 20px;margin-left: 3%;" class="fa fa-lock" aria-hidden="true"></i>
                        </div>
    
                        <span style="color: blue;font-size:13px;font-family: poppins">Remember me</span>
                        <span style="cursor:pointer; text-decoration: underline;margin-left: 28%;color: blue;font-size:13px;font-family: poppins"
                            (click)="forgetPassword()">Forgot Password?</span>
                        <div>
                            <button class="button button1" (click)="login()">LOGIN</button>
                        </div>
                    </div>
                  </div>
                  
                </div>
            </div>
            <div class="text-center mt-3" >
                <span > © 2020 Copyright: </span>
                <a class="text-dark" href="#"><span >Hluttaw E-Library</span></a>
               
            </div>
        </div>
    </div>