    <!-- Search Box -->
    <div class="background"></div>
    <div class="col-md-12 card2 card3" style="padding-left: 120px;"><!--style="height: 400px;"background-color: rgba(0,0,0, 0.4);-->
        <h2>{{ 'HOME.001' | translate }}</h2>
        <h1>{{ 'HOME.002' | translate }}</h1>
        <div class="row col-md-12">
                <input type="text" placeholder="Search Book,Title,Author" id="search"  [(ngModel)]="search" class="col-md-4 border" style="margin-top: 0;">
                <div class="col-md-8">
                <input type="month" id="search"  class="border col-md-3" [max]="endDate" [(ngModel)]="startDate">&nbsp;
                <input type="month" id="search"  class="border col-md-3" [min]="startDate" [(ngModel)]="endDate">
                <button class="buttonMe" type="button" class="buttonMe col-md-2"  (click)= "goSearch()">SEARCH</button>
            </div>
        </div>
    </div>
    <!-- advertisements -->
    <div class="col-md-12 card1 card5" style="background-color:#EEF7FF">
        <h1>{{ 'HOME.011' | translate }}</h1>
        <h2>{{ 'HOME.012' | translate }}</h2>
        <div style="text-align: center">
            <span style = "width: 12%;border-bottom: 1px solid;"></span>
            <span class="fa fa-book bookMe" aria-hidden="true"></span>
            <span style = "width: 12%;border-bottom: 1px solid;"></span>
            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideAdvertisementConfig" 
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let slide of advertisements" class="slide" style="padding: 20px;background-color: initial;">
                    <img src="{{ slide.name}}" alt="" width="100%" height="200px">
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
    <!-- recommend book -->
    <div class="col-md-12">
        <div class="background1"></div>
        <div class="container-fluid card1 card4" style="height: 550px;background-color: rgba(0,0,0, 0.5);">
            <h1>{{ 'HOME.003' | translate }}</h1>
            <h2>{{ 'HOME.013' | translate }}</h2>
            <div style="text-align: center">
                <span class="outer-line"></span>
                <span class="fa fa-book bookMe" aria-hidden="true"  style="color: #fff;"></span>
                <span class="outer-line"></span>
            </div>
            <div class="card" style="background-color:unset">
                <a routerLink="[]" style="padding-right: 18px;text-align: right;color: #F8F9FF;font-size: 1.4em;font-weight: 600;letter-spacing: -0.055em;" (click)="goRecommendBooks()">{{ 'HOME.007' | translate }}</a>
                <ngx-slick-carousel class="carousel" 
                #slickModal="slick-carousel" 
                [config]="slideConfig" 
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">
                <div ngxSlickItem *ngFor="let slide of recommend_book" (click)="goRecommendBook(slide)" class="slide" style="background-color: initial;padding: 20px;">
                    <img src="{{ slide.coverPhoto }}" alt="" class="card-img-top" height= "200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{slide.title1}}</h5>
                        <h6 *ngFor="let author of slide.authors">{{author.name}}</h6>
                        <ngb-rating [max]="5" [(rate)]="slide.averageRating"></ngb-rating>
                    </div>
                </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
    <!-- Popular Book -->
    <div class="col-md-12">
        <div class="container-fluid card1">
            <div class="row col-md-12">
                <div class="col-md-8">
                    <p style="font-size: 1.8em;padding: 20px 0;font-weight: 600;">{{ 'HOME.004' | translate }}</p>
                    <div class="card" *ngFor="let slide of popular_book" (click)="goPopularBook(slide)">
                        <div class="row no-gutters">
                            <div class="col-sm-2">
                                <img src="{{ slide.coverPhoto }}" class="card-img-top" alt="...">
                            </div>
                            <div class="col-sm-10">
                                <div class="card-body">
                                    <h5 class="card-title">{{slide.title}}</h5>
                                    <h6 style="color: gray;" *ngFor="let author of slide.authors">{{author.name}}</h6>
                                    <ngb-rating [max]="5" [(rate)]="slide.averageRating"></ngb-rating>
                                    <!-- <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized in HTML5, CSS3, JavaScript, Bootstrap, etc.</p> -->
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <p style="text-align:center;">
                        <a class="btn btn-md" style="color: blue;border-color: blue;" (click)="goPopularBooks()">{{ 'HOME.008' | translate }} >></a>
                    </p>
                </div>
    <!-- Latest Book -->
                <div class="col-md-4">
                    <div style="display: flex;padding: 20px 0;">
                        <p style="font-size: 1.8em;font-weight: 600;display: inline-block;">{{ 'HOME.005' | translate }}</p>
                        <p>
                            <a class="btn btn-lg" style="color: blue;font-size: 13px;padding: 0 0 0 20px;" (click)="goLatestBooks()">{{ 'HOME.008' | translate }} >></a>
                        </p>
                    </div>
                    <div class="card" *ngFor="let slide of latest_book" (click)="goLatestBook(slide)">
                        <div class="row no-gutters">
                            <div class="col-sm-4">
                                <img src="{{ slide.coverPhoto }}" class="card-img-top" alt="...">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{slide.title}}</h5>
                                    <h6 style="color: gray;" *ngFor="let author of slide.authors">{{author.name}}</h6>
                                    <ngb-rating [max]="5" [(rate)]="slide.averageRating"></ngb-rating>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Author -->
    <div class="col-md-12" style="background-color:#EEF7FF">
        <div class="container-fluid card1 card5">
            <h1>{{ 'HOME.006' | translate }}</h1>
            <h2>{{ 'HOME.014' | translate }}</h2>
            <div style="text-align: center">
                <span style = "width: 12%;border-bottom: 1px solid;"></span>
                <span class="fa fa-book bookMe" aria-hidden="true"></span>
                <span style = "width: 12%;border-bottom: 1px solid;"></span>
            </div>
            <ngb-tabset justify="center" style="font-size: 1.5rem;">
                <ngb-tab title="{{ 'HOME.009' | translate }}">
                    <ng-template ngbTabContent>
                        <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideAuthorsConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let slide of local_author" class="slide" style="padding: 20px;background-color: initial;" (click)="goBookByAuthors(slide)">
                                <div *ngIf="slide.authorType == 'LOCAL'">
                                    <img src="{{ slide.profilePicture }}" alt="" width="100%">
                                    <h6 class="card-title" style="padding: 15px;background-color:black;text-align: center;color: white;">{{slide.name}}</h6>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="{{ 'HOME.010' | translate }}">
                    <ng-template ngbTabContent>
                            <ngx-slick-carousel class="carousel" 
                            #slickModal="slick-carousel" 
                            [config]="slideAuthorsConfig" 
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
                                <div ngxSlickItem *ngFor="let slide of international_author" class="slide" style="padding: 20px;background-color: initial;" (click)="goBookByAuthors(slide)">
                                    <div *ngIf="slide.authorType == 'INTERNATIONAL'" >
                                        <img src="{{ slide.profilePicture }}" alt="" width="100%">
                                        <h6 class="card-title" style="padding: 15px;background-color:black;text-align: center;color: white;">{{slide.name}}</h6>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <p style="text-align:center">
        <br>
            <img src="assets/images/googleplay.png" width="200px">
            <img src="assets/images/appstore.png" width="200px">
        <br>
    </p>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center" style="background-color: #5663ff;">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        <span style="margin-left: 100px">
            <img src="assets/images/googleplay.png" width= "30px;">&nbsp; 
            <img src="assets/images/facebook.png" width= "40px;"> &nbsp; 
            <img src="assets/images/twitter.png" width= "30px;">&nbsp;  
        </span>
        </div>
        <!-- Copyright -->
    </footer>