
.top-nav{
    padding:5px 0;
}
.main-logo{
    margin: -10px 0 -35px;
    position: relative;
    z-index: 22;
    box-shadow: 1px 3px 5px 4px #03254829;
    border-radius: 48px 48px 10px 10px;
}
.langSelect{
    background: #4c56d4;
    border-radius: 20px;
    padding: 3px 10px;
    color: #fff;
    border: 1px solid #8bbaf9;
	outline:none
}
.navbar.navbar-expand-lg links{
    display: block !important;
}
.navbar-nav.mr-auto{
    float:right;
}
.navbar{
    position:sticky;
    position: -webkit-sticky;
}
.login{
    background-image: linear-gradient(to bottom, #cdff0736, #b5fbddb5,  #003cff4a);
    width:100%;
    height:100%;
}
.login-header{
    width: 50%;
    margin:0 auto;
    text-align:center;
    padding-top:20px;
}
.login-header img{
    box-shadow: 0px 5px 8px #4177b796;
    border-radius: 36px 36px 9px 9px;
}
.login-header h5{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: #6624e6;
    text-shadow: 1px 3px 2px #0d355d36;
    margin-bottom: 15px;
}
.login-header{
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 0;
    /* margin-top: -29px; */
    /* display: inline-block; */
    color: #26006f;
}
.login-input-from{
    text-align:center;
}
.login-input-from .welcome{
    padding-bottom: 20px;
    display: inherit;
   font-size:2vw;
   font-family: Impact, fantasy;
}

.login-input-from .button{
    margin:20px 0 0 0;
}
#divbox{
    background:#fff;
}
.mobile-show{
    display: none;
    padding:13px 0;
}


@media screen and (max-width: 991px) {
    .navbar-nav.mr-auto{
        float: left;
    }
    .main-logo{
        width:60px;
        margin: 0;
        box-shadow: 0px 0px 3px #032548a6;
    }
   }
   @media screen and (max-width: 767px) {
    .mobile-show{
        display: block;
        padding:13px 0;
    }
    .mobile-show a{
        font-size: 15px;
        color:#222;
        padding:13px 0;
    }
   }