<header class="site-header" *ngIf="header1">
    <div class="navbar hidden-md">
        <div style="text-align: left;">
            <a href="#"><i class="fa fa-phone" style="font-size: 1.10em;font-weight: 900"></i> (+959)123456789</a> 
            <a href="#"><i class="fa fa-envelope" style="font-size: 1.10em;font-weight: 900"></i> {{ 'HEAD.006' | translate }}</a> 
        </div>
            <div style="text-align: right;">
        <select #langSelect class="langSelect" (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
        <a [routerLink]="['/profile']" title="Library Homepage" class="right"> 
			<span>&nbsp; {{ 'HEAD.002' | translate }} </span>&nbsp;
			<img src="assets/images/user-icon.png" style=' border-radius: 50%;width: 3%;'>
		</a>
		<a (click)="feedback()" title="Feedback">
			<i class="fa fa-envelope-o" aria-hidden="true"
                style="font-size: 1.10em;font-weight: 900;color: white;"></i>&nbsp; 
            <span class="badge list"
			style="font-size: 0.8em;background-color:white;margin-bottom: 2%;border-radius: 20px;">{{replyCount}}</span>
		</a>
		
        <a (click)="logout()" title="Log Out" style="color:white"> <i class="fas fa-sign-out-alt" aria-hidden="true" style="color: white;font-size: 1.10em;font-weight: 900"></i>
            {{ 'HEAD.003' | translate }}
        </a>
        </div>
    </div>

<!--Navbar-->
    <mdb-navbar SideClass="card1 navbar navbar-expand-lg navbar-dark" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="navbar-brand" (click)="goHome()">
        <img src="assets/images/e.png" width="100px">
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto" >
        <li class="nav-item"  *ngFor="let cat of categories;let i = index"><!--style= "padding: 0 15px;"-->
            <a 
            (click)="goBookbyCategory(cat, i)" [class.active]="i == selectedRow"
            style="color:#212529;font-weight: 500;font-size: 15px;text-transform: capitalize;"
            class="nav-link waves-light" mdbWavesEffect >{{cat.myanmarName}}</a><!--lang="{{lang}}"-->
        </li>
        </ul>
    </links>
    </mdb-navbar>
</header>
<div class="login" *ngIf="header2 ">
    <div  >
        <div>
            <div class="login-header">
                <a href="#" title="Library Homepage">
                    <img src="assets/images/e.png" width="83px">
                </a>
                <h5>LIBRARY MANAGEMENT SYSTEM</h5>
                <span>Pyidaungsu Hlattaw</span>
            </div>
        </div>
    </div>

    <div *ngIf="login1">
        <div id="divbox">
            <div >
               
              <div class="row">
                <div class="col-md-6">
                    <img  src="assets/images/library.png" width="100%">
                </div>
                <div class="col-md-6 login-input-from">
                    <span style="margin-top: 2%;font-size:2vw;font-family: Impact, fantasy">WELCOME</span>
                    <div *ngIf="loading" class="lds-default" style="margin-left: 6%;margin-top: 9%;">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div align="center">
                        <span *ngIf="_result !=null" class="label" style="color: red;font-family: poppins">{{_result}}
                        </span>
                    </div>
                    <div class="inputWithIcon">
                        <input type="text" style="font-family:  poppins" placeholder="  Enter Email" [(ngModel)]="email">
                        <i style="font-size: 20px;margin-left: 3%;" class="fa fa-user-circle-o" aria-hidden="true"></i>

                    </div>
                    <div class="inputWithIcon">
                        <input type="password" style="font-family:  poppins" placeholder="   Enter Password"
                            [(ngModel)]="password">
                        <i style="font-size: 20px;margin-left: 3%;" class="fa fa-lock" aria-hidden="true"></i>
                    </div>

                    <span style="color: blue;font-size:1vw;font-family: poppins">Remember me</span>
                    <span style="text-decoration: underline;margin-left: 28%;color: blue;font-size:1vw;font-family: poppins"
                        (click)="forgetPassword()">Forgot
                        Password?</span>
                    <button class="button button1" (click)="login()">LOGIN</button>
                </div>
              </div>
              
            </div>
        </div>
        <div class="text-center mt-3" >
            <span > © 2020 Copyright: </span>
            <a class="text-dark" href="#"><span >Hluttaw E-Library</span></a>
           
        </div>
        <!-- <app-footer></app-footer> -->
    </div>
</div>
<router-outlet></router-outlet>
