<!-- <app-header></app-header> -->
<br>
<div class="container-fluid card1">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-sm-2" style="padding: 30px 30px 30px 30px;background-color: lightgray;border-radius: 15px;height: 300px;">
                <img src="{{ bookDetail.coverPhoto }}" class="card-img-top h-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="col-sm-10">
                <div class="card-body">
                    <h4 class="card-title">{{bookDetail.title}}</h4>
                    <p class="card-text"*ngFor="let author of bookDetail.authors">{{author.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">
    <div class= "row" style="justify-content:center">
        <div  style="box-shadow: 2px 2px 8px 3px #ffb6c157;margin-right: 60px;border-radius: 10px;">
            <div class="card" >
                <div class="row no-gutters">
                    <div class="circle" style="margin-top: 10px;background: #ffb6c19e;text-align: center;"> 
                        <i class='fas fa-book-open fa-3x' style="font-size: 2.5rem;align-items: center;margin-top: 20px;"></i>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                    </div>
                    <div >
                        <div class="card-body">
                            <h6 class="card-title">Pages</h6>
                            <p class="card-text" style="font-size: 35px;line-height: 12px;">{{bookDetail.currentPage}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  style="box-shadow: 2px 2px 8px 3px #f8c47159;margin-right: 60px;border-radius: 10px;">
            <div class="card" >
                <div class="row no-gutters">
                    <div class="circle" style="margin-top: 10px;background: #f8c47185;text-align: center;"> 
                        <i class='fas fa-book-open fa-3x' style="font-size: 2.5rem;align-items: center;margin-top: 20px;"></i>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                    </div>
                    <div >
                        <div class="card-body">
                            <h6 class="card-title">Book Size</h6>
                            <p class="card-text">{{bookDetail.size}}</p>
                            <!-- <p class="card-text">5.2 * 0.5x <br>8.2 inches</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  style="box-shadow: 2px 2px 8px 3px #90ee9038;margin-right: 60px;border-radius: 10px;">
            <div class="card" >
                <div class="row no-gutters">
                    <div class="circle" style="margin-top: 10px;background: #90ee908a;text-align: center;"> 
                        <i class='fas fa-book-open fa-3x' style="font-size: 2.5rem;align-items: center;margin-top: 20px;"></i>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
                    </div>
                    <div >
                        <div class="card-body">
                            <h6 class="card-title">Number of books</h6>
                            <p class="card-text">published<br>{{bookDetail.edition}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container-fluid card1">
        <h2>Reviews</h2>
        <div class="card" style="background-color: #EEF7FF;">
            <div style="margin: 35px;">
                <h4>What did you think?</h4>
                <p>
                    <span *ngFor="let item of [0,1,2,3,4]">
                        <span class="fa fa-star" style="color: gold;font-size: 1.23rem;"></span>
                    </span>
                </p>
                <p>Write a review(optional)</p>
                <textarea rows="4" cols="140" placeholder="Tell others whate you thought of the book"></textarea>
            </div>
        </div>
    </div>
    <div class="container-fluid card1">
        <h2>Reader Reviews</h2>
        <div class="card" style="border: 1px solid rgba(0,0,0,.125);border-top: 0;border-left: 0;border-right: 0;">
            <div class="row" style="padding: 1.25rem;">
                <div class="col-sm-2"> 
                    <h6 class="card-title">User 1</h6>
                    <p>
                        <span *ngFor="let item of [0,1,2,3,4]">
                            <span class="fa fa-star" style="color: gold;font-size: 0.9rem;"></span>
                        </span>
                    </p>
                </div>
                <div class="col-sm-10">
                    <p class="card-text">I love it</p>
                </div>
            </div>
        </div>
        <div class="card" style="border: 1px solid rgba(0,0,0,.125);border-top: 0;border-left: 0;border-right: 0;">
            <div class="row" style="padding: 1.25rem;">
                <div class="col-sm-2"> 
                    <h6 class="card-title">User 1</h6>
                    <p>
                        <span *ngFor="let item of [0,1,2,3,4]">
                            <span class="fa fa-star" style="color: gold;font-size: 0.9rem;"></span>
                        </span>
                    </p>
                </div>
                <div class="col-sm-10">
                    <p class="card-text">I love it</p>
                </div>
            </div>
        </div>
        <div class="card" style="border: 1px solid rgba(0,0,0,.125);border-top: 0;border-left: 0;border-right: 0;">
            <div class="row" style="padding: 1.25rem;">
                <div class="col-sm-2"> 
                    <h6 class="card-title">User 1</h6>
                    <p>
                        <span *ngFor="let item of [0,1,2,3,4]">
                            <span class="fa fa-star" style="color: gold;font-size: 0.9rem;"></span>
                        </span>
                    </p>
                </div>
                <div class="col-sm-10">
                    <p class="card-text">I love it</p>
                </div>
            </div>
        </div>
        <br>
        <p style="text-align:center;">
            <a href="#" class="btn btn-lg" style="color: blue;border-color: blue;border-radius: 10px;">Load More</a>
        </p>
    </div>
    <div style="background-color: lightgray;">
        <div class="container-fluid card1">
            <br>
            <h2 style="text-align: center;">Some Similar Books</h2>
            <div class="row " style="justify-content: center;">
                <div class="col-md-2">
                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="...">
                </div>
                <div class="col-md-2">
                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="...">
                </div>
                <div class="col-md-2">
                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="...">
                </div>
                <div class="col-md-2">
                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="...">
                </div>
                <div class="col-md-2">
                    <img src="assets/images/book/3.png" class="card-img-top h-100" alt="...">
                </div>
            </div>
            <br><br>
        </div>
    </div>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center" style="background-color: #5663ff;">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        <span style="margin-left: 100px">
            <img src="assets/images/google.png" width= "30px;">&nbsp; 
            <img src="assets/images/facebook.png" width= "40px;"> &nbsp; 
            <img src="assets/images/twitter.png" width= "30px;">&nbsp;  
        </span>
    </div>
    <!-- Copyright -->
</footer>