<div>
    <img src="assets/images/background.jpg" class="bg">
    <div class="container-fluid card1">
        <div class="row" style="margin: -3% 0% 0% 15%;">
            <div class="col-md-2 cover">
                <img src="{{bookDetail.coverPhoto}}" style="border-radius: 10px;"
                    class="card-img-top h-100">

            </div>
            <div class="col-md-10">

                <div class="div3">
                    <span class="book-detail" style="font-size:1.2vw;font-family: poppins;">{{bookDetail.title}}</span>
                    <br><br>
                    <div class="row">
                        <img src="assets/images/author1.png" class="profile">
                        <div class="col-md-5">
                            <span style="margin-left: 2%;">{{bookDetail.authors[0].name}}</span>
                            <div>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                        </div>
                        <div class="col-md-5" style="text-align: right;">
                            <i class="fa fa-gratipay" style="font-size:20px;" aria-hidden="true"
                                (click)="favourite()" *ngIf="!bookDetail.favouriteStatus"></i>
                            <i class="fa fa-gratipay" style="font-size:20px;color: blue;" aria-hidden="true" *ngIf="bookDetail.favouriteStatus"></i>

                            <i class="fa fa-bookmark" aria-hidden="true"  style="margin-left:5%;font-size:20px;" (click)="bookmark()" *ngIf="!bookDetail.bookMarkStatus"></i>
                            <i class="fa fa-bookmark" aria-hidden="true"  style="margin-left:5%;font-size:20px;color: blue;" (click)="bookmark()" *ngIf="bookDetail.bookMarkStatus"></i>

                        </div>
                    </div>
                    <div class="row">

                        <img src="assets/images/1.jpg" class="profile2">
                        <div class="col-md-5" style="margin-top: 2%;">

                            <p style="margin:2% 0% 0% 2%;">Series</p>
                        </div>
                        <div class="col-md-5" style="margin-top: 2%;">
                            <p style="margin:0% 0% 0% 10%;text-align: right;">{{bookDetail.seriesIndex}}</p>
                        </div>
                    </div>
                    <div class="row">

                        <img src="assets/images/2.jpg" class="profile2">
                        <div class="col-md-7" style="margin-top: 2%;">

                            <p style="margin:2% 0% 0% 2%;">Number of books published</p>
                        </div>
                        <div class="col-md-3" style="margin-top: 2%;">
                            <p style="margin:0% 0% 0% 10%;text-align: right;">{{bookDetail.edition}}</p>
                        </div>
                    </div>
                    <div class="row">

                        <img src="assets/images/3.jpg" class="profile2">
                        <div class="col-md-5" style="margin-top: 2%;">

                            <p style="margin:2% 0% 0% 2%;">Book Size</p>
                        </div>
                        <div class="col-md-5" style="margin-top: 2%;">
                            <p style="margin:0% 0% 0% 10%;text-align: right;">{{bookDetail.size}}</p>
                        </div>
                    </div>
                    <p>
                    <p>{{bookDetail.comment.description}}</p>
                </div>
            </div>


        </div>
        <div style="margin: 0% 0% 5% 60%;">
            <button class="atr2" (click)="bookmark()">Add to read</button>
            <button class="atr3">Preview</button>

        </div>

    </div>

    <div class="div2" *ngIf="recommendBooks.length >0">
        <div class="container-fluid card1">
            <h2>S o m e &nbsp; S i m i l a r &nbsp; B o o k s</h2>
            <div class="row">
                <div class="col-md-2" *ngFor="let item of recommendBooks">
                    <div style="height: 80%;margin-bottom: 3%;">
                        <img src="{{apiRoute1}}{{item.coverPhoto}}" class="card-img-top h-100 ssbimg">
                    </div>

                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star unchecked"></span>
                    <span class="fa fa-star unchecked"></span>
                    <br>

                    <button class="atr" (click)="ssbookmark(item.boId)">Add to read</button>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <app-footer></app-footer>