<app-header></app-header>

<div id="divbox">
    <span style="margin:2% 0% 0% 36%;font-size:1.2vw;font-family: Impact, fantasy;"> To Verify Email Address </span>
    <br>
    <div align="center">
        <span *ngIf="_result !=null" class="label" style="color: red;font-family: poppins">{{_result}}
        </span>
    </div>
   
    <div style="margin-left: 30%;">

        <div class="inputWithIcon" style="margin-top: 3%;">
            <input type="text" style="font-family:  poppins; width: 50%;" placeholder="  Enter Verification Code"
                [(ngModel)]="verifyCode">

        </div>

        <div *ngIf="loading" class="lds-default" style="margin-left: 3%;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <button style="margin-left: 10%;" class="button2" (click)="verify()">SUBMIT</button>
    </div>    
</div>