<div>
    <nav   class="navbar navbar-inverse navbar-fixed-top" style="background-color: #d0efff;">
        <div class="container col-md-12">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img style = "width: 125px;" src="assets/images/hlouttaw.png">
            </a>
                <h1 class="navbar-brand"> Pyidaungsu Hluttaw </h1> 
                <h2 class="navbar-brand"> E-library System </h2> 
        </div>
        </div>
    </nav>
    <br>
    <div class="cardview"  style="width:fit-content">
        <div class="cardview" id="discover-card" style="width:fit-content">
            <div>            
                <span style="font-size: 20px;font-weight: bold;">Discover New</span>
                <span style="float: right;color: darkgray;font-weight: bold;">See All</span>
            </div>
            <br>
            <div class="row">
                <div class="card" style="padding: 5px 15px 0px 15px;">
                    <img src="assets/images/book/2.png" class="imgstyl">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">abcd</p>
                        <span *ngFor="let item of [0,1,2,3,4]">
                            <span class="fa fa-star" style="color: gold;"></span>
                        </span>
                    </div>
                </div>
                <div class="card" style="padding: 5px 15px 0px 15px;">
                    <img src="assets/images/book/3.png" class="imgstyl">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">abcd</p>
                        <span *ngFor="let item of [0,1,2,3,4]">
                            <span class="fa fa-star" style="color: gold;"></span>
                        </span>
                        
                    </div>
                </div>
                <div class="card" style="padding: 5px 15px 0px 15px;">
                    <img src="assets/images/book/3.png" class="imgstyl">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">abcd</p>
                        <span *ngFor="let item of [0,1,2,3,4]">
                            <span class="fa fa-star" style="color: gold;"></span>
                        </span>
                    </div>
                </div>
                <div class="card" style="padding: 5px 15px 0px 15px;">
                    <img src="assets/images/book/3.png" class="imgstyl">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">abcd</p>
                        <span *ngFor="let item of [0,1,2,3,4]">
                            <span class="fa fa-star" style="color: gold;"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <ngb-tabset>
        <ngb-tab title="Books">
            <ng-template ngbTabContent>
                <br>
                <div class="col-md-12">
                    <span style="font-size: 20px;font-weight: bold;">Best Seller</span>
                    <span style="float: right;color: darkgray;font-weight: bold;">See All</span>
                    <br>
                    <div class = "row">
                        <div class="card" style="margin: 10px;">
                            <div class="card" style="padding:15px">
                                <img src="assets/images/book/2.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 10px;">
                            <div class="card"  style="padding:15px">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 10px;">
                            <div class="card"  style="padding:15px">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 10px;">
                            <div class="card"  style="padding:15px">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class="card" style="margin: 10px;">
                            <div class="card" style="padding:15px">
                                <img src="assets/images/book/2.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 10px;">
                            <div class="card"  style="padding:15px">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 10px;">
                            <div class="card"  style="padding:15px">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card" style="margin: 10px;">
                            <div class="card"  style="padding:15px">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                        <span style="font-size: 20px;font-weight: bold;">Popular</span>
                        <span style="float: right;color: darkgray;font-weight: bold;">See All</span>
                        <br>
                        <div class = "row">
                            <div class="card" style="padding: 10px;background-color: #EBECF0;">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">abcd</p>
                                    <span *ngFor="let item of [0,1,2,3,4]">
                                        <span class="fa fa-star" style="color: gold;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="card" style="padding: 10px;background-color: #EBECF0;">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">abcd</p>
                                    <span *ngFor="let item of [0,1,2,3,4]">
                                        <span class="fa fa-star" style="color: gold;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="card" style="padding: 10px;background-color: #EBECF0;">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">abcd</p>
                                    <span *ngFor="let item of [0,1,2,3,4]">
                                        <span class="fa fa-star" style="color: gold;"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="card" style="padding: 10px;background-color: #EBECF0;">
                                <img src="assets/images/book/3.png" class="imgstyl">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">abcd</p>
                                    <span *ngFor="let item of [0,1,2,3,4]">
                                        <span class="fa fa-star" style="color: gold;"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Journals">
            <ng-template ngbTabContent>
                <br>
                <span style="font-size: 20px;font-weight: bold;">Best Seller</span>
                <span style="float: right;color: darkgray;font-weight: bold;">See All</span>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Magazines">
            <ng-template ngbTabContent>
                <br>
                <span style="font-size: 20px;font-weight: bold;">Best Seller</span>
                <span style="float: right;color: darkgray;font-weight: bold;">See All</span>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <div class="col-md-12">
        <div style="text-align:center">
            <span><img src="assets/images/mark.png" width="15%" height="15%"></span>
            <h2>STAY-UP-TO-DATE</h2>
            <h3 style="color: gray">Subscribe to see great good new delivery to you</h3> 
            <div class="input-container" style="border-radius:15px">
                <input type="text" class="input-md" [(ngModel)]="name" placeholder="Search"/>
                <button class="input-md" style="border-radius:15px">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<footer>
    <div class="footer-bottom">
        <div class="container">
            <br>
            <div style="text-align:center">
                <h3>Social Media</h3>
                <span><img src="assets/images/share.png"></span>
            </div>
        </div>
    </div>
</footer>
</div>